<div class="container">
  <div id="card">
    <div id="heading">
      <h1>Tom's Hardware</h1>
    </div>
    <div id="loginBox">
      <form [formGroup]="loginForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" name="email" class="form-control" formControlName="email">
              <div class="feedback" *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
                You must enter an email address
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" formControlName="password">
              <div class="feedback" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                Password must be at least 8 characters long
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-block" [disabled]="loginForm.invalid" (click)="login()">Login</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <img src="../assets/google.png" height="50px" width="50px" class="img-fluid" alt="Google Logo" (click)="googleLogin()">
            <img src="../assets/facebook.png" height="50px" width="50px" class="img-fluid" alt="Facebook Logo" (click)="facebookLogin()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
